.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  border-bottom: 3px solid var(--border-color);
  color: var(--primary-color);
  padding: 0rem 1rem;
  font-family: "Poppins";
}

.appHeader a:first-child {
  text-decoration: none;
  color: var(--primary-color);
}

.headerControls > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.lightModeIcon,
.darkModeIcon {
  fill: var(--bg-color);
}

.darkModeIcon {
  fill: var(--bg-color);
}

.toggleThemeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 2px solid var(--bg-color);
  border-radius: 50%;
  background-color: var(--text-color);
  cursor: pointer;
}

button {
  cursor: pointer;
}
